h1 {
  text-align: center;
}

label {
  font-size: 1.2rem;

  display: flex;
  justify-content: center;
}

div {
  text-align: center;
}

input {
  margin-bottom: 0.5%;
  text-align: center;
}

::placeholder {
  text-align: center;
}

#submit {
  size: 1rem;
  margin: 0%;
}
